*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }

.hotList{
    height: 165.75px;
    background: url(http://pk10humpw.bkt.clouddn.com/hotbg.jpg) center center ; 
    background-size:cover;
    position: relative;    
}
.hotList img{
    width: 140px;
    height: 70px;
    position: absolute;
    left: 5%;
    top: 20%;
}