*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }

 

.background{
    height: 155.75px;
    background: url(https://i.loli.net/2019/02/09/5c5e8e272f9bd.jpg) center center ; 
    background-size:cover;
    position: relative;  
    margin-bottom: 15px;  
}
.background img{
    width: 140px;
    height: 70px;
    position: absolute;
    left: 5%;
    top: 20%;
}
.hotMusicList ol>li{
    position: relative;
    display: flex;
    align-items: flex-start;
}
.songNumber{
    width: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: #888;

}

.songNumber.active{
    color:rgb(223,83,118);
}
.songContent{
    display: inline-block;
    position: relative;
    width: 100%;
}

.hotMusicList ol>li .songContent h3{
    font-size: 16px;
    margin-left: 10px;
    color: #000;
  }
 
.hotMusicList ol>li .songContent p{
    font-size: 12px;
    color: #888;
    margin-left: 10px;
  }
  .hotMusicList ol>li{
    position: relative;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: 1px solid #E2E2E3;
  }
  .hotMusicList .playButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 55px;
  
  }
  .hotMusicList ol .icon-play{
    position: relative;
    margin-left: 88%;
    margin-top: 16.5px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #AAA;
  }
  .hotMusicList ol .icon-sq{
    fill: #FE672E;
  }
  .watchFullSongList{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    color: #888;
}